/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header, Main e Footer */
header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;

}

/* Main em grid de 1 coluna */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* Sections */
section {
    padding: 1rem;
    background-color: #fff;

}