@media (min-width: 600px) {
    #menuButton {
        display: none;
        /* esconder hambúrguer */
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: none;
    }

    .album {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* várias colunas */
    }
}